.contact-page-content {
    margin-top: 10px;
    //border: 1px solid green;
    margin-bottom: 40px;

    .title {
        font-size: 50px;
        margin-bottom: 100px;
        background-color: #003b6d;
        color: white;
    }

    .message-title{
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .message-info{
        margin-top:20px;
        margin-bottom: 20px;
    }

    .business-hour{
        //border: 1px solid green;
        font-size: 20px;
        .dark-text{
            font-weight: bold;
        }

    }

    .address-infor{
        //border: 1px solid green;
        font-size: 20px;
        .dark-text{
            font-weight: bold;
        }

        

    }

    








}