.custom-table thead th {
  background-color: #0e9536; /* Tomato color */
  color: white;
  /* Add any other desired styles */
}
.preview-image{
  
  .img{
    width: 200px;
  }
}

.add-new-button{
  .plus-icon{
    width: 20px;
    margin-right: 10px;
  }
}