.home-page {


    //height: 300px;



    .aboutpage-content {
        margin-top: 10px;
        //border: 1px solid green;
        margin-bottom: 40px;

        .title{
            font-size: 50px;
            margin-bottom: 20px;
            background-color: #003b6d;
            color: white;
        }

        .about-text{
            //border: 1px solid red;
            margin-top: 30px;
            font-size: larger;
            
            .darker-text{
                font-weight: bold;
                
            }
        }

        .about-picture{
            //border: 1px solid green;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            .image{
                width: 500px;
            }
        }

        

        

        


    }
}